<mat-card>
  <mat-toolbar>Course Search</mat-toolbar>
  <mat-form-field>
    <input matInput [(ngModel)]="zip" placeholder="Enter Zip Code"/>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="radius" placeholder="Enter Search Radius (mi)"/>
  </mat-form-field>
</mat-card>

<mat-card *ngIf="courses">
  <mat-toolbar>
    <mat-select placeholder="Pick a Course">
      <mat-option *ngFor="let course of courses.courses" [routerLink]="['/details', course.id]">{{course.name}}</mat-option>
    </mat-select>
  </mat-toolbar>
</mat-card>
